<a href="https://colab.research.google.com/github/UralHuman/Sem09-10-PANDAS.ipynb/blob/main/Home_work_sem_10.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
import random
lst = ['robot'] * 10
lst += ['human'] * 10
random.shuffle(lst)
data = pd.DataFrame({'whoAmi':lst})
data.head()

  whoAmi
0  robot
1  human
2  human
3  robot
4  robot

In [ ]:
pd.get_dummies(data['whoAmi'])

    human  robot
0       1      0
1       0      1
2       0      1
3       0      1
4       1      0
5       1      0
6       0      1
7       0      1
8       1      0
9       1      0
10      1      0
11      0      1
12      0      1
13      1      0
14      0      1
15      1      0
16      0      1
17      1      0
18      1      0
19      0      1

In [ ]:
data.loc[data['whoAmi'] == 'human', 'human'] = '1'
data.loc[data['whoAmi'] == 'robot', 'human'] = '0'
data.loc[data['whoAmi'] == 'human', 'robot'] = '0'
data.loc[data['whoAmi'] == 'robot', 'robot'] = '1'

In [ ]:
data

   whoAmi human robot
0   human     1     0
1   robot     0     1
2   human     1     0
3   robot     0     1
4   robot     0     1
5   robot     0     1
6   robot     0     1
7   robot     0     1
8   human     1     0
9   robot     0     1
10  robot     0     1
11  human     1     0
12  human     1     0
13  human     1     0
14  human     1     0
15  human     1     0
16  human     1     0
17  human     1     0
18  robot     0     1
19  robot     0     1

In [7]:
def my_get_dummies(data, prefix=None, prefix_sep='_', dummy_na=False, columns=None, drop_first=False):
  if columns is not None:
        data = data[columns]
    
   
  dummy_cols = pd.get_dummies(data, prefix=prefix, prefix_sep=prefix_sep, dummy_na=dummy_na, drop_first=drop_first)
    
  return dummy_cols

In [10]:
my_get_dummies(data)

    whoAmi_human  whoAmi_robot
0              0             1
1              1             0
2              1             0
3              0             1
4              0             1
5              1             0
6              0             1
7              1             0
8              1             0
9              0             1
10             0             1
11             1             0
12             0             1
13             0             1
14             1             0
15             1             0
16             1             0
17             0             1
18             0             1
19             1             0